<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeHub</title>
    <link rel="icon" href="/img/logo_pokeball.png" type="png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/header_abierto.css">
    <link rel="stylesheet" href="/css/footer_abierto.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/jscript/load_footer.js"></script>
    <script src="/jscript/load_header.js"></script>
    <script src="/jscript/pokebal_animation.js"></script>
</head>
<body>
    <header>
        <div id="header-container"></div>
    </header>
    <main>
        <div class="wrapper">
            <form action="register" method="POST" id="form">
                <h1>Sign Up</h1>
                <div class="input-box">
                    <input type="text" name="user" placeholder="Username" required>
                    <i class='bx bxs-user' ></i>
                </div>

                <div class="input-box">
                    <input type="email" name="email" placeholder="Email" required>
                    <i class='bx bxs-envelope'></i>
                </div>

                <div class="input-box">
                    <input type="password" name="pass" placeholder="Password" required>
                    <i class='bx bxs-lock-alt' ></i>
                </div>

            <!--   <div class="input-box">
                    <input type="password" placeholder="Repeat Password" required>
                    <i class='bx bxs-lock' ></i>
                </div> -->

        

                <button type="submit" class="btn">Register</button>

                <div class="register-link">
                    <p> Already have an account?
                    <a href="#" id="back_to_login_link">Log In</a>
                    </p>
                </div>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <% if(typeof alert != "undefined") { %>
            <script>
                Swal.fire({
                    title: '<%= alertTitle %>',
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    showConfirmButton: '<%= showConfirmButton %>',
                    timer: '<%= timer %>'
                }).then(() => {
                    window.location='/<%= ruta %>'; 
                });
            </script>
            <% } %>
    </main>
    <footer>
        <div id="footer-container"></div>
    </footer>
    
    
</body>
</html>